* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #C4B1AE;
    text-align: center;
    /* padding-top: 50px; */
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}



.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}


.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(255, 25, 25, 10);
    font-size: 4vmin;
    
    color: #858786;
    background-color: #C4B1AE;
}

#reset-btn{
    padding: 1rem;
    font-size: 1.8rem;
    background-color: #858786;
    color: white;
    border-radius: 2rem;
    border: none;
}

#newGame{
    padding: 1rem;
    font-size: 1.8rem;
    background-color: #858786;
    color: white;
    border-radius: 2rem;
    border: none;
}

#msg{
    color: yellow;
    font-size: 5vmin;



}

.msg-container{
    height: 40vmin;
}

.hide{
    display: none;
}